body{
	padding:10px;
	font:normal 62.5% "Lucida Grande", Arial, sans-serif;
	background:#fff;
}

#cycle_area{
	font-size:1.2em;
	background:rgba(0,0,0,0.1);
	width:550px;
	height:350px;
}

#cycle_area div{
	margin:10px;
	padding:10px;
	border:1px solid #ddd;
	background:#fff;
}

#pager{
	padding:10px;
	font-size:1.2em;
	overflow:hidden;
	width:530px;
	background:rgba(0,0,0,0.1);
}


#cycle_area a:link, a:visited{
	color:#00b1f3;
	text-decoration:none;
}
#pager a{
	display:block;
	float:left;
	margin:0 10px 0 0;
	background:#999;
	border:3px solid #999;
}
#pager a:hover{
	border-color:#b4e2f3;
}
#pager a.activeSlide{
	border-color:#00b1f3;
}
#pager a img{
	display:block;
}

a:hover{
	text-decoration:underline;
}

#cycle_area img{
	float:left;
	margin:0 10px 0 0;
	border:2px solid #00b1f3;
}
h2, h3{
	margin:0 0 10px;
}

p{
	line-height:20px;
}